section {
    display: inline-block;
    width: 30%;
    margin: 1%;
    border: double 5px rgb(28, 40, 94) ;
    background-color: rgba(24, 15, 44, 0.8);
    margin: 3%;
    border-radius: 50px; 
    font-family: 'Bruno Ace SC', cursive;
  }
  h1{
    color: black;
    background-color: white;
  }
body{
    font-family: 'Bruno Ace SC', cursive;
    text-align: center;
    color: white;
    background-image: url(https://img.freepik.com/vector-premium/programacion-desarrolladores-vector-patrones-fisuras-e-internet-codificacion_341076-444.jpg);
}
button {
    padding: 1.1em 2em;
    background: none;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   button:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   button:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   button:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   button:active {
    transform: scale(0.9);
   }